body {
    background-color: white;
    font-family: europa, sans-serif;
    max-width: 1200px;
    min-width: 380px;
    padding: 35px 150px;
    margin: 0 auto;
}

header {
    font-size: 1rem;
    font-weight: 700;
}

header span {
    position: relative;
    bottom: 15px;
}

header .left-header {
    color: #5bc057;
    display: inline-block;
}

header .right-header {
    float: right;
    display: inline-block;
}

.playlist-icon {
    color: black;
    width: 35px;
}

#login {
    background-color: #5bc057;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 12px 22px;
    position: relative;
    top: 12px;

}

.main-content {
    text-align: center;
}

.main-content h1, h3 {
    font-weight: normal;
}

h1 {
    margin-top: 80px;
}

h3 {
    margin-top: 40px;
}

#search-input {
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    padding: 11px 0;
    font-family: 'europa', sans-serif;
    font-size: 1rem;
    margin-top: 36px;
    margin-bottom: 75px;
    outline: none;
    background-image: url("/static/resources/search.svg");
    background-repeat: no-repeat;
    background-position: 99% 10px;
}

#search-results {
    text-align: left;

}

#search-results > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#search-results > ul > li {
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.playlist-img {
    width:  175px;
    margin-right: 35px;
}

.playlist-info {
    display: inline-block;
    flex-grow: 1;
    margin: 0;
    width: 41%;
}

.add-btn {
    align-self: center;
    cursor: pointer;
    width: 45px;
    float: right;
    padding: 0 42px;
    text-align: center;
}

.plus {
    font-size: 36px;
    line-height: 0;
    color: #5bc057;
    position: relative;
    top: 2px;
}

.save {
    font-size: 12px;
    color: #5bc057;
}